*.apk
*.iml
.idea/misc.xml
.idea/misc.xml
.idea/workspace.xml
DementiaAid/.idea/gradle.xml
DementiaAid/.idea/gradle.xml
DementiaAid/.idea/gradle.xml
DementiaAid/wear/wear.iml
DementiaAid/wear/wear.iml
*.xml
*.iml